@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.navBar {
    background-color:aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.navBarText {
    font-family: 'Raleway', sans-serif;
    padding-left: 1rem;
}
#hero {
    background-color:cornflowerblue;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.heroTitle {
    font-family: 'Bree Serif', serif;
    text-align: center;
    position: absolute;
    top: 11rem;
    color:azure;
}
.heroSubtitle {
    text-align: center;
    color: azure;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}
.media {
    position: absolute;
    bottom: 10rem;

}
ul {
    width: 15rem;
}
li {
    list-style: none;
    margin: 1rem 1rem;
    display: inline-block;
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    color: azure;
    border: 1px solid azure;
    border-radius: 100%;
    transition: .5s;
    font-size: 1.3rem;
}
li:hover {
    color: #292929;
    border: 1px, solid;
    border-color: #292929;
    transition: .5s;
}
