html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #5c99ab;
}

.navContainer {
    display: flex;
    height: 2rem;
    position: fixed;
    background-color: #5c99ab;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.navBar {
    display: flex;
    flex-direction: row;

}

.navBarText {
    font-family: 'Bree Serif', serif;
    color: azure;
    font-size: 1rem;
    padding-left: 1.5rem;
}

.navBarText:hover {
    text-decoration: underline;
    text-decoration-color: azure;
}

a {
    text-decoration: none;
}

#hero {
    background-image: url("./assets/hero.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heroTitle {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: azure;
}

.heroSubtitle {
    text-align: center;
    color: azure;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

.socialIcons {
    width: 15rem;
    display: flex;
}

.icon {
    list-style: none;
    margin-left: 1rem;
    margin-right: 0.2rem;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    color: azure;
    border: 1px solid azure;
    border-radius: 100%;
    transition: .5s;
    font-size: 1.8rem;
}

.icon:hover {
    color: #292929;
    border: 1px, solid;
    border-color: #292929;
    transition: .5s;
}

#about {
    background-color: #5c99ab;
    height: 70vh;
    width: 100%;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
}

.dot {
    display: inline-block;
    background-color: rgb(214, 219, 219);
    border-radius: 50%;
    margin: 0.3rem;
    height: 0.5rem;
    width: 0.5rem;
}

.pageIndicator {
    display: flex;
    justify-content: center;
}

.aboutTitle {
    font-family: 'Bree Serif', serif;
    color: azure;
    margin-left: 0.5rem;
    margin-top: 0;
    padding-top: 1rem;
}

.picOfMe {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.aboutText {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    color: azure;
    padding: 0rem 1rem;
}

#skills {
    display: flex;
    flex-direction: column;
    height: 45vh;
    transform: skewY(4deg);
    background-color: #99AB5C;
    text-align: center;
}

.skillsSubtitle {
    transform: skewY(-4deg);
    color: azure;
    font-family: 'Bree Serif', serif;
}

.subtitle {
    font-family: 'Bree Serif', serif;
    color: azure;
}

.skillsIcons {
    margin: 0 auto;
}

.skillsIcon {
    list-style: none;
    margin: 0.5rem 0.2rem;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    color: azure;
    font-size: 7rem;
    transform: skewY(-5deg);
}

.skillsIconsText {
    display: block;
    font-size: 1rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#projects {
    display: flex;
    justify-content: center;
    background-color: #5c99ab;
    margin-top: 1rem;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #5c99ab;
}

.project {
    display: flex;
    background-color: azure;
    height: 55vh;
    width: 55vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 15%;
    margin-top: 2rem;
}

.projectIcon {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
}

.projectTitle {
    font-family: 'Bree Serif', serif;
    color: rgb(87, 84, 84);
    justify-self: center;
}

.githubLink {
    color: azure;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: .8rem;
}

.button {
    background-color: #99AB5C;
    height: 2rem;
    width: 11rem;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.projectLogo {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projectDescription {
    font-family: 'Raleway', sans-serif;
    font-size: 0.6rem;
    margin-right: 1rem;
}

.projectContent {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

#contact {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    transform: skewY(5deg);
}

.contactText {
    font-family: 'Raleway', sans-serif;
    color: azure;
    font-size: 0.7rem;
    padding: 0rem 1rem;
}

.contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 7rem;
    height: 3rem;
    border-radius: 7%;
    margin-top: 1.5rem;
    border: 1.5px solid azure;
    font-weight: bold;
}

.footer {
    background-color: #5c99ab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
}

.footerText {
    font-family: 'Raleway', sans-serif;
    font-size: 0.6rem;
    margin-top: 3rem;
    text-align: center;
    color: azure;
}

.backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c99ab;
    margin: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    font-size: 1rem;
    background-color: azure;
}

.skew2 {
    transform: skewY(-5deg);
    background-color: #99AB5C;
}


@media screen and (min-width: 320px) {
    #about {
        height: 60vh;
    }

    .skillsIcons {
        width: 100%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 2rem;
    }

    #contact {
        height: 45vh;
    }

    .project {
        height: 55vh;
        width: 50vh;
    }
}

@media screen and (min-width: 360px) {
    #about {
        height: 55vh;
    }

    .skillsIcons {
        width: 100%;
        padding: 0;
    }

    #skills {
        height: 45vh;
    }

    .skillsIcon {
        font-size: 2rem;
    }

    #contact {
        height: 40vh;
    }

    .project {
        height: 45vh;
        width: 45vh;
    }
}

@media screen and (min-width: 390px) {
    #about {
        height: 40vh;
    }

    #skills {
        height: 30vh;
    }

    #contact {
        height: 30vh;
    }

    .project {
        height: 20rem;
        width: 20rem;
    }
}

@media screen and (min-width: 414px) {
    .heroSubtitle {
        padding: 0rem 0.5rem;
    }

    .icon {
        padding: 0.4rem 0.6rem;
    }

    #about {
        height: 40vh;
    }

    .aboutTitle {
        font-size: 1.5rem;
    }

    .skillsIcons {
        padding: 0;
    }

    .skillsSubtitle {
        font-size: 1.5rem;
    }

    .skillsIcon {
        font-size: 2rem;
    }

    #skills {
        height: 30vh;
    }

    .project {
        width: 20rem;
        height: 20rem;
    }

    #contact {
        height: 30vh;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .contactText {
        font-size: 1rem;
    }
}

@media screen and (min-width: 540px) {
    #about {
        height: 45vh;
    }

    #skills {
        height: 40vh;
    }

    .skillsIcons {
        width: 85%;
    }

    .skillsIcon {
        font-size: 3rem;
    }

    #contact {
        height: 40vh;
    }
}

@media screen and (min-width: 615px) {
    #about {
        height: 55vh;
    }

    #skills {
        height: 30vh;
    }

    .skillsIcons {
        width: 100%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 3rem;
    }

    #contact {
        height: 40vh;
    }
}

@media screen and (min-width: 696px) {
    .project {
        width: 45vh;
        margin: 1rem;
    }

    #skills {
        height: 35vh;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .aboutText {
        font-size: 1rem;
    }

    .skillsSubtitle {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .heroTitle {
        font-size: 3rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
    }

    .socialIcons {
        justify-content: center;
        margin-left: -2.5rem;
    }

    .icon {
        font-size: 3rem;
        padding: 0.5rem 1rem;
    }

    #about {
        height: 45vh;
    }

    .project {
        width: 20rem;
        height: 20rem;
        margin: 1rem;
    }

    .projectTitle {
        font-size: 2rem;

    }

    .projectDescription {
        font-size: 0.7rem;
    }

    #skills {
        height: 25vh;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .aboutText {
        font-size: 1rem;
    }

    .skillsSubtitle {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    #contact {
        height: 30vh;
    }
}

@media screen and (min-width: 800px) {
    #about {
        height: 35vh;
    }

    .picOfMe {
        height: 8rem;
        width: 8rem;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    #skills {
        height: 20vh;
    }

    .skillsIcon {
        font-size: 4.5rem;
    }

    #contact {
        height: 25vh;
    }

}

@media screen and (min-width: 926px) {
    #about {
        height: 50vh;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .skillsIcon {
        font-size: 4.5rem;
    }

    #contact {
        height: 35vh;
    }

}

@media screen and (min-width: 1024px) {
    #about {
        height: 65vh;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .aboutText {
        font-size: 1rem;
    }

    #skills {
        height: 45vh;
    }

    .subtitle {
        font-size: 2rem;
    }

    .skillsSubtitle {
        font-size: 2rem;
    }

    .skillsIcons {
        width: 90%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 5rem;
    }

    #contact {
        height: 45vh;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    #about {
        height: 30vh;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .aboutText {
        font-size: 1rem;
    }

    #skills {
        height: 20vh;
    }

    .subtitle {
        font-size: 2rem;
    }

    .skillsSubtitle {
        font-size: 2rem;
    }

    .skillsIcons {
        width: 90%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 5rem;
    }

    .project {
        width: 25rem;
        height: 25rem;
    }

    .projectTitle {
        font-size: 2rem;
    }

    .projectDescription {
        font-size: 1rem;
    }

    #contact {
        height: 20vh;
    }
}

@media screen and (min-width: 1032px) {
    #about {
        height: 60vh;
    }

    .aboutTitle {
        font-size: 3rem;
    }

    .aboutText {
        font-size: 1.5rem;
    }

    #skills {
        height: 40vh;
    }

    .skillsSubtitle {
        font-size: 3rem;
    }

    .skillsIcons {
        width: 90%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 6rem;
    }
}

@media screen and (min-width: 1280px) and (min-height: 720px) {
    .heroTitle {
        font-size: 3rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }

    .socialIcons {
        justify-content: center;
        margin-top: -6rem;
    }

    .icon {
        font-size: 2rem;
        list-style: none;
        margin: 1rem 1rem;
        display: inline-block;
        padding: 0.5rem 0.8rem;
        color: azure;
        border: 1px solid azure;
        border-radius: 100%;
        transition: .5s;
    }

    #about {
        height: 40vh;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .picOfMe {
        height: 10rem;
        width: 10rem;
    }

    .aboutText {
        font-size: 1.3rem;
    }

    #skills {
        height: 55vh;
    }

    .skillsSubtitle {
        font-size: 2rem;
    }

    .skillsIcons {
        width: 100%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 7rem;
    }

    .skillsIconsText {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    .project {
        margin: 3rem 1rem;
    }

    #contact {
        height: 55vh;
    }

    .contactText {
        font-size: 1.3rem;
    }

    .contactButton {
        width: 10rem;
        height: 5rem;
    }
}

@media screen and (min-width: 1280px) {
    .heroTitle {
        font-size: 3rem;
    }

    .heroSubtitle {
        font-size: 1rem;
    }

    .socialIcons {
        justify-content: center;
        margin-top: 2rem;
    }

    .icon {
        font-size: 2rem;
        list-style: none;
        margin: 1rem 1rem;
        display: inline-block;
        padding: 0.5rem 0.8rem;
        color: azure;
        border: 1px solid azure;
        border-radius: 100%;
        transition: .5s;
    }

    .navContainer {
        display: flex;
        height: 4rem;
        background-color: #5c99ab;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .navBar {
        display: flex;
        flex-direction: row;
    }

    .navBarText {
        font-family: 'Bree Serif', serif;
        color: azure;
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    .heroTitle {
        font-size: 3rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
    }

    .socialIcons {
        justify-content: center;
        margin-top: 1rem;
    }

    .icon {
        font-size: 2rem;
        list-style: none;
        margin: 1rem 1rem;
        display: inline-block;
        padding: 0.5rem 0.8rem;
        color: azure;
        border: 1px solid azure;
        border-radius: 100%;
        transition: .5s;
    }

    #about {
        height: 70vh;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .picOfMe {
        height: 10rem;
        width: 10rem;
    }

    .aboutText {
        font-size: 1rem;
    }

    #skills {
        height: 45vh;
    }

    .skillsSubtitle {
        font-size: 2rem;
    }

    .skillsIcons {
        width: 100%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 4rem;
    }

    .skillsIconsText {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    .project {
        margin: 1.5rem 1rem;
    }

    #contact {
        height: 55vh;
    }

    .contactText {
        font-size: 1.3rem;
    }

    .contactButton {
        width: 9rem;
        height: 5rem;
    }
}

@media screen and (min-width: 1366px) {
    #about {
        height: 75vh;
    }

    .socialIcons {
        margin-top: -1rem;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .aboutText {
        font-size: 1.5rem;
    }

    #skills {
        height: 40vh;
    }

    .subtitle {
        font-size: 2rem;
    }

    .skillsSubtitle {
        font-size: 2rem;
    }

    .skillsIcons {
        width: 90%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 5rem;
    }

    #contact {
        height: 40vh;
    }
}

@media screen and (min-width: 1400px) {
    #about {
        height: 65vh;
    }

    .heroTitle {
        font-size: 4rem;
    }

    .heroSubtitle {
        font-size: 2rem;
    }

    .socialIcons {
        justify-content: center;
        margin-top: 2rem;
    }

    .icon {
        font-size: 3rem;
        list-style: none;
        margin: 1rem 2rem;
        display: inline-block;
        padding: 0.5rem 0.9rem;
        color: azure;
        border: 1px solid azure;
        border-radius: 100%;
        transition: .5s;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .aboutText {
        font-size: 1.5rem;
    }

    #skills {
        height: 35vh;
    }

    .subtitle {
        font-size: 2rem;
    }

    .skillsSubtitle {
        font-size: 2rem;
    }

    .skillsIcons {
        width: 90%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 5rem;
    }

    #contact {
        height: 40vh;
    }
}

@media screen and (min-width: 1600px) {
    .heroTitle {
        font-size: 4rem;
    }

    .heroSubtitle {
        font-size: 2rem;
    }

    .socialIcons {
        justify-content: center;
        margin-top: 2rem;
    }

    .icon {
        font-size: 3rem;
        list-style: none;
        margin: 1rem 2rem;
        display: inline-block;
        padding: 0.5rem 0.9rem;
        color: azure;
        border: 1px solid azure;
        border-radius: 100%;
        transition: .5s;
    }

    #about {
        height: 65vh;
    }

    .aboutTitle {
        font-size: 3rem;
    }

    .aboutText {
        font-size: 2rem;
    }

    #skills {
        height: 45vh;
    }

    .skillsSubtitle {
        font-size: 3rem;
    }

    .skillsIcons {
        width: 100%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 9rem;
    }

    .skillsIconsText {
        font-size: 2rem;
    }

    #contact {
        height: 45vh;
    }

    .subtitle {
        font-size: 3rem;
    }

    .contactText {
        font-size: 2rem;
    }

    .contactButton {
        height: 7rem;
        width: 15rem;
    }
}

@media screen and (min-width: 1900px) {
    .navBarText {
        font-size: 2rem;
        padding-left: 2rem;
    }

    .heroTitle {
        font-size: 4rem;
    }

    .heroSubtitle {
        font-size: 2rem;
    }

    .socialIcons {
        justify-content: center;
        margin-top: -1rem;
    }

    .icon {
        font-size: 3rem;
        list-style: none;
        margin: 1rem 2rem;
        display: inline-block;
        padding: 0.5rem 0.9rem;
        color: azure;
        border: 1px solid azure;
        border-radius: 100%;
        transition: .5s;
    }

    #about {
        height: 70vh;
    }

    .picOfMe {
        height: 15rem;
        width: 15rem;
    }

    .aboutTitle {
        font-size: 4rem;
    }

    .aboutText {
        font-size: 2rem;
    }

    #skills {
        height: 50vh;
    }

    .skillsSubtitle {
        font-size: 4rem;
    }

    .skillsIcons {
        width: 100%;
        padding: 0;
    }

    .skillsIcon {
        font-size: 10rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .skillsIconsText {
        font-size: 2.5rem;
    }

    .project {
        width: 30rem;
        height: 30rem;
        margin-bottom: 5rem;
    }

    .projectTitle {
        font-size: 3rem;
    }

    .projectDescription {
        font-size: 1.3rem;
    }

    .button {
        width: 16rem;
        height: 4rem;
    }

    .githubLink {
        font-size: 1.2rem;
    }

    .backToTop {
        width: 7rem;
        height: 7rem;
        margin-top: 2rem;
        font-size: 2rem;
    }

    .footerText {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 2560px) {
    .navBarText {
        font-size: 3rem;
        padding-left: 3rem;
    }

    .heroTitle {
        font-size: 5rem;
    }

    .heroSubtitle {
        font-size: 3rem;
    }

    .icon {
        font-size: 4rem;
        padding: 1rem 1.3rem;
    }

    #about {
        height: 55vh;
    }

    .aboutTitle {
        font-size: 4rem;
    }

    .picOfMe {
        width: 13.5rem;
        height: 13.5rem;
    }

    .aboutText {
        font-size: 2.5rem;
    }

    #skills {
        height: 45vh;
    }

    .skillsIconsText {
        font-size: 3rem;
    }

    .project {
        height: 40rem;
        width: 40rem;
        margin-bottom: 10rem;
    }

    .projectTitle {
        font-size: 4rem;
    }

    .projectLogo {
        width: 10rem;
        height: 10rem;
    }

    .projectDescription {
        font-size: 1.5rem;
    }

    .button {
        width: 15rem;
        height: 5rem;
    }

    .githubLink {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 4rem;
    }

    #contact {
        height: 35vh;
    }

    .backToTop {
        width: 10rem;
        height: 10rem;
        font-size: 3rem;
        margin-top: 2rem;
    }

    .footerText {
        font-size: 2rem;
    }
}